{% extends "layout.html.twig" %}

{% block title %}{{ strings['Editar Alerta'] }}{% endblock %}
{% block body %}
	<div class="row" style="clear:both;">
        <div class="container">
            <form  id="form" name="form" action='ALERTA_Controller.php'  method='post'   enctype="multipart/form-data">

                <div class="col-lg-4" style="float:left;">
                    <div class="form-group">
                        <label class="control-label" >{{ strings['asuntoAlerta'] }}</label><br>
                        <input onchange="return valida_envia_asuntoAlerta()" class="form" id="asuntoAlerta" name="asuntoAlerta"  size="80" value="{{ alerta['asuntoAlerta'] }}">
                    </div>

                    <div class="form-group">
                        <label class="control-label" >{{ strings['descripcionAlerta'] }}</label><br>
                        <textarea onchange="return valida_envia_descripcionAlerta()" rows="4" cols="80" name="descripcionAlerta" >{{ alerta['descripcionAlerta'] }}</textarea>             
                    </div>
                </div>
				
                <div class="col-lg-4" style="float:right;">
                    <div class="form-group">
                        <label class="control-label" >{{ strings['Fecha'] }}</label><br>
                        <input class="form" id="dia" name="dia"  type="date" value="{{ alerta['dia'] }}">
                    </div>
                    
                    <div class="form-group">
                        <label class="control-label" >{{ strings['HoraInicio'] }}</label><br>
                        <input onchange="return valida_envia_hora()" class="form" id="horaInicio" name="horaInicio" type="time" required="true" value="{{ alerta['horaInicio'] }}"/>
                    </div>

                    <div class="form-group">
                        <label class="control-label" >{{ strings['HoraFin'] }}</label><br>
                        <input onchange="return valida_envia_hora()" class="form" id="horaFin" name="horaFin" type="time" required="true" value="{{ alerta['horaFin'] }}"/>
                    </div>
                </div>
				
                <div class="form-group" style="clear:both;">
                    <input type="hidden" class="form" id="username" name="username" size="25" type="text" readonly="true" value="{{ alerta['username'] }}">
                </div>
				<div class="form-group">
                    <input type="hidden" class="form" id="idEvento" name="idEvento" size="25" type="text" readonly="true" value="{{ alerta['idEvento'] }}">
                </div>
                <div class="form-group">
                    <input type="hidden" class="form" id="idAlerta" name="idAlerta" size="25" type="text" readonly="true" value="{{ alerta['idAlerta'] }}">
                </div>
                <br>

                <button type="submit" class="btn btn-primary" onclick="return valida_envia_ALERTA()" name='accion'  value="{{ strings['Modificar'] }}">{{ strings['Modificar'] }}</button>
                <a class="form-link" href="{{ volver }}">{{ strings['Volver'] }}</a>
            </form>
        </div>
    </div>
{% endblock %}