{% extends "layout.html.twig" %}

{% block title %}{{ strings["Vista Principal"] }}{% endblock %}
{% block body %}
		{% if userTipo == 2 %}
						<html>
						
							<head>
								<link href='{{"../fullcalendar-4.1.0/packages/core/main.css"}}' rel='stylesheet' />
								<link href='{{"../fullcalendar-4.1.0/packages/daygrid/main.css"}}' rel='stylesheet' />
								<link href='{{"../fullcalendar-4.1.0/packages/timegrid/main.css"}}' rel='stylesheet' />
								<link href='{{"../fullcalendar-4.1.0/packages/list/main.css"}}' rel='stylesheet' />
								<link href='{{"../fullcalendar-4.1.0/packages/bootstrap/main.css"}}' rel='stylesheet' />

								<script src='../fullcalendar-4.1.0/packages/core/main.js'></script>
								<script src='../fullcalendar-4.1.0/packages/interaction/main.js'></script>
								<script src='../fullcalendar-4.1.0/packages/daygrid/main.js'></script>
								<script src='../fullcalendar-4.1.0/packages/timegrid/main.js'></script>
								<script src='../fullcalendar-4.1.0/packages/list/main.js'></script>
								<script src='../fullcalendar-4.1.0/packages/bootstrap/main.js'></script>
								<script src='../fullcalendar-4.1.0/packages/core/locales-all.js'></script>	

								<script>
									var idioma = "{{ IDIOMA }}";
									var events = [];
									{% for evento in eventos %}
										events.push({
											"id": "{{ evento['idEvento'] }}",
											"asunto": "{{ evento['asuntoEvento'] }}",
											"dia": "{{ evento['dia'] }}",
											"horaInicio": "{{ evento['horaInicio'] }}",
											"horaFin": "{{ evento['horaFin'] }}"
										})
									{% endfor %}

									var alerts = [];
									{% for alerta in alertas %}
										alerts.push({
											"id": "{{ alerta['idAlerta'] }}",
											"asunto": "{{ alerta['asuntoAlerta'] }}",
											"dia": "{{ alerta['dia'] }}",
											"horaInicio": "{{ alerta['horaInicio'] }}",
											"horaFin": "{{ alerta['horaFin'] }}"
										})
									{% endfor %}

									document.addEventListener('DOMContentLoaded', function() {
										var calendarEl = document.getElementById('calendar');
										var date = new Date();
										var d = date.getDate();
										var m = date.getMonth();
										var y = date.getFullYear();
										
										/*  className colors
										
										className: default(transparent), important(red), chill(pink), success(green), info(blue)
										
										*/		
										
									
										/* initialize the calendar
										-----------------------------------------------------------------*/
										var eventsArray = [];
										
										for (var k = 0; k < events.length; k++) {
											var evento = events[k];
											var fecha = evento["dia"];
											var año = fecha.substr(0, 4);
											var mes = fecha.substr(5, 2) - 1;
											var dia = fecha.substr(8, 2);
											var horaInicio = evento["horaInicio"];
											var horaI = horaInicio.substr(0, 2);
											var minI = horaInicio.substr(3, 2);
											var horaFin = evento["horaFin"];
											var horaF = horaFin.substr(0, 2);
											var minF = horaFin.substr(3, 2);
											var asunto = evento["asunto"];
											var id = evento["id"];
											
											var newEvent = [];
											newEvent[0] = id;
											newEvent[1] = asunto;
											newEvent[2] = new Date(año, mes, dia, horaI, minI); //got date string here exactly similar to the calendar's
											newEvent[3] = new Date(año, mes, dia, horaF, minF);
											eventsArray.push(newEvent);
										}

										var alertsArray = [];
										
										for (var k = 0; k < alerts.length; k++) {
											var alerta = alerts[k];
											var fecha = alerta["dia"];
											var año = fecha.substr(0, 4);
											var mes = fecha.substr(5, 2) - 1;
											var dia = fecha.substr(8, 2);
											var horaInicio = alerta["horaInicio"];
											var horaI = horaInicio.substr(0, 2);
											var minI = horaInicio.substr(3, 2);
											var horaFin = alerta["horaFin"];
											var horaF = horaFin.substr(0, 2);
											var minF = horaFin.substr(3, 2);
											var asunto = alerta["asunto"];
											var id = alerta["id"];
											
											var newEvent = [];
											newEvent[0] = id;
											newEvent[1] = asunto;
											newEvent[2] = new Date(año, mes, dia, horaI, minI); //got date string here exactly similar to the calendar's
											newEvent[3] = new Date(año, mes, dia, horaF, minF);
											alertsArray.push(newEvent);
										}

										var formattedEventData = [];
										for (var k = 0; k < eventsArray.length; k++) {
											formattedEventData.push({
												id: eventsArray[k][0],
												title: eventsArray[k][1],
												start: eventsArray[k][2],
												end: eventsArray[k][3],
												allDay: false,
												className: 'info',
											    backgroundColor: '#03a9f3 !important',
												borderColor: '#03a9f3',
												
		
											});
										}

										for (var k = 0; k < alertsArray.length; k++) {
											formattedEventData.push({
												id: alertsArray[k][0],
												title: alertsArray[k][1],
												start: alertsArray[k][2],
												end: alertsArray[k][3],
												backgroundColor: '#F28502 !important',
												borderColor: '#F28502',
												allDay: false,
												className: 'info'
											});
										}

										var calendar = new FullCalendar.Calendar(calendarEl, {
											plugins: [ 'interaction', 'dayGrid', 'timeGrid', 'bootstrap', 'list' ],
  											themeSystem: 'bootstrap',
											locale: 'es',											
											header:{
												left:   'dayGridMonth, timeGridWeek, timeGridDay, list',
												center: 'title',
												right:  'today prev,next'
											},		
											defaultView: 'dayGridMonth',
											nowIndicator: true,
											views: {
												dayGridMonth: { // name of view
													titleFormat: { year: 'numeric', month: 'long' }
												},
												timeGridWeek: { // name of view
													titleFormat: { year: 'numeric', month: 'short', day: 'numeric' }
												},
												timeGridDay: { // name of view
													titleFormat: { year: 'numeric', month: 'long', day: 'numeric' }
												}
											},
											editable: false,
											firstDay: 1, //  1(Monday) this can be changed to 0(Sunday) for the USA system
											selectable: true,
											axisFormat: 'h:mm',
											columnFormat: {
																month: 'ddd',    // Mon
																week: 'ddd d', // Mon 7
																day: 'dddd M/d',  // Monday 9/7
																agendaDay: 'dddd d'
														},
											allDaySlot: false,
											selectHelper: true,
											select: function(info) {
												window.location.href='../Controllers/EVENTO_Controller.php?fecha=' + info.start + '&accion={{ strings['Crear'] }}&calendario=calendario';
											},
											eventClick:  function(info) {
												if(info.event.borderColor=='#03a9f3'){
													window.location.href='../Controllers/EVENTO_Controller.php?idEvento=' + info.event.id + '&accion={{ strings['Modificar'] }}&calendario=calendario&class=' + info.event.borderColor + '';
												}else{
													window.location.href='../Controllers/EVENTO_Controller.php?idEvento=' + info.event.id + '&accion={{ strings['Modificar'] }}&calendario=calendario';
												}		
											},								
											events: formattedEventData,			
											
										});
										if(idioma == "Castellano"){
											calendar.setOption('locale', 'es');
										}else{
											if(idioma == "English"){
												calendar.setOption('locale', 'en');
											}
										}
										calendar.render();
									});

								</script>
								<style>

									body {
										text-align: center;
									}
										
									#wrap {
										width: 1100px;
										margin: 0 auto;
									}
										
									#external-events {
										float: left;
										width: 150px;
										padding: 0 10px;
										text-align: left;
									}
										
									#external-events h4 {
										font-size: 16px;
										margin-top: 0;
										padding-top: 1em;
									}
										
									.external-event { /* try to mimick the look of a real event */
										margin: 10px 0;
										padding: 2px 4px;
										background: #3366CC;
										color: #fff;
										font-size: .85em;
										cursor: pointer;
									}
										
									#external-events p {
										margin: 1.5em 0;
										font-size: 11px;
										color: #666;
									}
										
									#external-events p input {
										margin: 0;
										vertical-align: middle;
									}

									#calendar {
								/* 		float: right; */
										margin: 0 auto;
										width: 900px;
										background-color: #FFFFFF;
										border-radius: 6px;
										box-shadow: 0 1px 2px #C3C3C3;
										-webkit-box-shadow: 0px 0px 21px 2px rgba(0,0,0,0.18);
										-moz-box-shadow: 0px 0px 21px 2px rgba(0,0,0,0.18);
										box-shadow: 0px 0px 21px 2px rgba(0,0,0,0.18);
									}
								</style>
							</head>
								<div class="row" style="clear:both;">
									<div class="container">
										<div id='wrap'>
											<div>
												<ul class="nav" style="margin-top: 0px;">
													<li style="margin-right:40px;margin-left:430px;">
														<form method="post" action="../Functions/Refresh.php" role="Refresh">
															<input type="text" name="IDIOMA" value="{{ session.IDIOMA }}" hidden=true>
															<input type="text" name="username" value="{{ session.login }}" hidden=true>
															<select name="calendario">
																<option value=-1></option>
																{% for calendario in session.misCalendarios %}
																	<option value="{{ calendario['idCalendario'] }}">{{ calendario['nombreCalendario'] }}</option>
																{% endfor %}
															</select>
															<button type="submit" name="accion" class="btn btn-lg btn-primary" value="Refresh" style="width: 75px; height: 40px; font-size: 15px;">{{ strings["Filtrar"] }}</button>
														</form>
													</li>
												</ul>											
											</div>
											<div id='calendar'></div>
											<div style='clear:both'></div>
										</div>
									</div>
								</div>
						</html>
      {% endif %}
{% endblock %}