<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <title>{% block title %}Login{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{'../css/bootstrap.min.css'}}" type="text/css" rel="stylesheet">
            <link href="http://fonts.googleapis.com/css?family=Lato:100italic,100,300italic,300,400italic,400,700italic,700,900italic,900" rel="stylesheet" type="text/css">
            <link rel="stylesheet" type="text/css" href="../css/stylesLogin.css" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{'../img/logoUO.png'}}" />
    </head>
    <body>
        <section class="container">
            <section class="login-form">
                <form method="post" action="../Functions/Acceso.php" role="login">
                    <img src="../img/LogoUO.png" class="img-responsive" alt="" width="300" height="150" />
                    <input type="text" name="username" placeholder="{{ strings['username'] }}" required class="form-control input-lg" id="username" />
                    <input type="password" name="password" placeholder="{{ strings['password'] }}" required class="form-control input-lg" id="password" />
                    <button type="submit" name="accion" class="btn btn-lg btn-primary btn-block" value="Login">Iniciar Sesión</button>
                    <div>
                        <p>
							<select name="IDIOMA">
                                <option value="Castellano">Castellano</option>
                                <option value="English">English</option>
                            </select>
						</p>
                        <div aling='center'>
							<a href='../Functions/index.php'>{{ strings['Volver'] }}</a>
                        </div>
                    </div>



                </form>
            </section>
        </section>
        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>