{% extends "layout.html.twig" %}

{% block title %}{{ strings['Lista Usuarios'] }}{% endblock %}
{% block body %}
	    <div class="row" style="clear:both;">
			<div class="container">
            <form method="POST" action="" id="frmAlertas">
                <div align="center" >
                    <ul class="nav">
                        <li style="margin-right:40px;margin-top:7px;">
                            <a href='USUARIO_Controller.php?accion={{ strings['Insertar'] }}&amp;user=admin'><img src="../img/admin.jpg" width="40px" height="40px">{{ strings['addAdministrador'] }}</a>
                        </li>
                        <li style="margin-right:40px;">
                            <button type="submit" class="btn btn-white" onclick=this.form.action="../Controllers/USUARIO_Controller.php?accion={{ strings['Borrar'] }}" style="font-size:15px;"><img src="../img/eliminar2.png" width="40px" height="40px">  {{ strings['eliminarSelec'] }}</img></button>
                        </li><br>
                    </ul><br>
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col"></th>
                                {% for titulo in lista %}
                                    <th scope="col">
                                    {{ strings[titulo] }}
                                    </th>
                                {% endfor %}
                                <th scope="col"></th>
					            <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                                {% for dato in datos %}
                                    <tr>
                                        <th><input type="checkbox" name="eliminar[]" value="{{ dato['0'] }}"></th>
                                        <th><a href='USUARIO_Controller.php?username={{ dato['0'] }}&amp;accion={{ strings['Ver'] }}'><font color="#088A4B">{{ dato['0'] }}</font></a></th>
                                        <td>{{ dato['2']}}</td>
                                        <td>{{ dato['3']}}</td>
                                        <td>{{ dato['4']}}</td>
                                        <td>{{ dato['5']}}</td>
                                        <td>{{ dato['6']}}</td>
                                        <td>{{ dato['7']}}</td>

                                        <td><a href='USUARIO_Controller.php?username={{ dato['username'] }}&amp;accion={{ strings['Modificar'] }}'><img src="../img/modify.png" width="40px" height="40px"> {{ strings['Modificar'] }}</img></a></td>
                                        <td><a href="javascript:;" onclick="alert('USUARIO_Controller.php?username={{ dato['username'] }}&amp;accion={{ strings['Borrar'] }}&amp;nombre=nombre')"><img src="../img/Delete.png" width="40px" height="40px"> {{ strings['Borrar'] }}</img></a></td>
                                    </tr>
                                {% endfor %} 
                        </tbody>
                    </table>
                </div>
            </form>
            </div>
        </div>
{% endblock %}